<% @home_games = site.games.in_homepage.limit(3) %>
<% content_for :page_content do %>  
<%# cache [I18n.locale, resource.site, resource, 'home'] do %> 

  <div class="row-fluid">
    <div class="span12">
  		<div class="section" id="circles">
  		  <% @home_games.each_with_index do |game, index| %>
  		    <% if game.preview.present? %>
  		    <% geom = (index != 1 ? '210x210#' : '410x410#') %>
          <a href='<%= url_for([game.section, game]) %>' class="circle ec-circle ec-circle<%= index %>" style='background: #fff url(<%= game.preview.thumb(geom).process(:greyscale).url %>) no-repeat center center;'><h3><%= game.title %></h3></a>
          <% end %>
  			<% end %>
  		</div>
    </div>
  </div> 
<%# end %>  
<% end %>