<% 
games = @site.games.with_translations(I18n.locale).in_homepage.order('games.position ASC').limit(3)
games ||= @site.games.with_translations(I18n.locale).order('games.position ASC').limit(3) 
%>
<% content_for :page_content do %>
  <div class="row" id="circles">
    <div class="twelve columns">
  		<div class="section">
  		  <% games.each_with_index do |game, index| %>
          <a href='<%= url_for([game.section, game]) %>' class="circle ec-circle circle_<%= spell_integer(index) %>" style='background: #fff url(<%= game.thumbnail.url %>) no-repeat center center;'><h3><%= game.title %></h3></a>
  			<% end %>
  		</div>
    </div>
  </div>   
<% end %> 