$baseFontFamily: Georgia,'Times New Roman',Times,serif;
$baseFontColor: #ccc;
$baseColor: #ccc;
$bodyBackground: #0c0d0f image-url("bg.jpg") 50% 0px no-repeat;
$altColor: #ccc;//blue
$linkColor: #ccc;
$linkColorHover: #fff; 
