$baseFontFamily: Georgia,'Times New Roman',Times,serif;
$altFontFamily: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$textColor: #ccc;
$altColor: #fff;//white
$linkColor: #ccc;
$linkColorActive: $altColor;
$linkColorHover: $altColor;

$navbarText: $textColor;
$navbarLinkColor: $linkColor;
$navbarLinkColorHover: $linkColorHover;

@import "gko_public_all"; 
@import "gko/elastislide"; 

/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */
.uppercase_font_style {
	letter-spacing: 1px; 
	text-transform: uppercase; 
}
/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */

/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
body {
	background: #0c0d0f image-url("bg.jpg") 50% 0px no-repeat;
}
h1.page-title {
	font-size: 21px;
	text-align: center;
	@extend .uppercase_font_style;
	margin-bottom: $baseLineHeight;
}
div.html_text {
	font-family: $altFontFamily; 
}
/*-----------------------------------------
   HEADER
----------------------------------------- */
.navbar {
	border-top: 8px solid black;
	height:210px; background: transparent asset-url("nav_bg.png", image) 50% -150px no-repeat;
	font-size: 13px;
}
.navbar .brand {
	@include logo(252px, 100px);
	@include clearfix;
	float: none;
}

.navbar-inner {
  background-image: none;
  background: none; 
}
.btn-navbar .icon-bar {
	background-color: black;
}

.navbar .header-top .nav {
	font-style: italic;
	background: black;
	font-weight: normal;
	@include corner-bottom(4px);
	padding: 0 4px 4px 4px;
	 
}
.navbar .header-nav nav {
	float:right;
	position:relative;
	left:-50%;
	text-align:left;
}
.navbar .header-nav .nav {
	position:relative;
	left:50%;
}
.navbar .header-nav .nav > li { 
	background: transparent asset-url("nav-dot.png", image) 21px 50% no-repeat; 
	&:first-child { 
		background: none;
		padding-left: 0; 
	}
}
.navbar .header-nav .nav > li > a,
.navbar .header-nav .dropdown-menu a {
	@extend .uppercase_font_style;
	font-weight: normal; 
}
.navbar .nav-collapse {
 margin-top:10px;
}

/*-----------------------------------------
   FOOTER
----------------------------------------- */ 
#footer {
	border-top: 1px solid #1e1e1e;
	font-family: $altFontFamily;
	//font-size: 12px;
	p { 
		font-family: $altFontFamily;
	//	font-size: 12px;  
	}
	h3 {
		@extend .uppercase_font_style;
	 // font-size: 13px;
		margin-bottom: $baseLineHeight * .5;
		color: $altColor;
	}
	.nav > li > a:hover {
	  background-color: transparent;
	}
}

a#site_by {
 background: transparent asset-url("gko/logo_gecko_white.png", image) no-repeat scroll 0 1px; 
}

/*-----------------------------------------
   GAMES
----------------------------------------- */

ul.block-grid.block-grid-games {
	> li { 
		min-height:320px;
		text-align: center; 
	}
	
	.entry-thumb {
		width: 220px;
		height: 220px;
		overflow: hidden; 
		margin: 0 auto;
		background: transparent;
		line-height: 216px; 
     a {
			width: 200px;
			height: 200px; 
			display:block;
			border: 8px solid #fff; 
			background-position: 50% 50%;
			@include border-radius(104px);
			opacity: 1;
			@include transition(opacity 200ms ease-in-out);
			&:hover {
				opacity: .8;
			}; 
		}
	}
	.entry-infos {
		margin-top: 16px;
	}
	h2.entry-title {
		@extend .uppercase_font_style; 
		font-size: $baseFontSize;
	}
} 

.html_text_properties h3:first-child {
	margin-top:0px;
}
#main.game { 
	.next-previous {
		display:none;
	} 
}

/*-----------------------------------------
   SLIDESHOW
----------------------------------------- */
.image-large-wrapper {        
	padding: 20px 60px;
	a.image-large-nav {
		background: #000 asset_url("nav_image.png", image) no-repeat 0 50%;
		width: 31px;
		left: 12px;
	}
	a.image-large-nav.image-large-nav-next{
		background-position:-36px 50%;
		right: 12px;
	}
}
/*-----------------------------------------
   HOME
----------------------------------------- */
#js_container {
	display:none;
} 
/* Text inside of circle */
.ec-circle h3{
	font-weight: normal;  
	font-style: italic;
	color: transparent;
	margin-top:80px;
	font-size:24px;
	
	text-shadow: 0px 0px 100px #fff;
	@include transition(text-shadow 600ms ease-in-out);
	word-wrap: break-word;
}
.ec-circle-hover h3{
	text-shadow: 0px 0px 1px #fff;
}
/* The circle */
.ec-circle{
	float:left;
	margin-left:20px;
	width: 420px;
	height: 420px;
	@include border-radius(110px);
	margin-top:100px;
	width: 220px;
	height: 220px;
	text-align: center;
	overflow: hidden;
	line-height: 420px; 
	background-color:#fa6e00;
  @include box-shadow(inset 0 0 1px 210px rgba(0,0,0,0.4),inset 0 0 0 7px #fff); 
  @include transition(box-shadow 600ms ease-in-out);
	display: block;
	outline: none;
 text-decoration: none;
	&:hover {
		 text-decoration: none; 
		}
	@media only screen and (max-width: 960px) {
		margin: 24px auto !important;
		clear:both;
		float: none !important;
	} 
	&.ec-circle-one {
		width: 420px;
		height: 420px;
		margin-top:0px;
		@include border-radius(210px);
		h3 {
			font-size: 48px;
			margin-top:150px;
		}
		@media only screen and (max-width: 960px) {
			margin-top:100px;
			width: 220px;
			height: 220px;
			margin: 24px auto !important;
			clear:both;
			float: none !important;
			@include border-radius(110px);
			h3 {
				margin-top:80px;
				font-size:24px;
			}
		}
	}
	
}
.ec-circle-hover{
	@include box-shadow(inset 0 0 1px 210px rgba(250,110,0,0.9), inset 0 0 0 20px rgba(250,110,0,1), inset 0 0 0 0 rgba(243,213,0,0.5));
}
 

@import "gko/responsive";