$altFontFamily: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$altColor: white ;

$global-radii-blocks: 4px;

// Layout 
$containerMaxWidth: 0; 
$rowMaxWidth: 980px;

$bodyBackgroundColor: #0c0d0f;
$contentContainerBackgroundColor: transparent;
$contentBackgroundColor: transparent;
$footerContainerBackgroundColor: transparent;
$footerBackgroundColor: transparent;
$copyrightContainerBackgroundColor: transparent;
$copyrightBackgroundColor: transparent; 
$mainBackgroundColor: transparent;
$sidebarBackgroundColor: transparent;

// Typography
$baseFontFamily: Georgia,'Times New Roman',Times,serif;
$baseFontSize: 12px;
$baseLineHeight: 20px;
$textColor: #ccc;
$headingFontFamily: $baseFontFamily;
$headingTextColor: $textColor;
$headingBaseFontSize: 26px;

// Links
$linkColor: $textColor;
$linkColorHover: $altColor;
$linkColorActive: $altColor;

// Nav base 
$navLinkColor: $linkColor;
$navLinkColorHover: $linkColorHover;
$navLinkColorActive: $navLinkColorHover;
$navBackgroundColor: transparent;
$navBackgroundColorHover: $navBackgroundColor;
$navBackgroundColorActive: $navBackgroundColor;

// Navbar
$navbarBackgroundHighlight: $bodyBackgroundColor;
$navbarBackground: $bodyBackgroundColor;
$navbarText: $textColor;
$navbarLinkColor: $linkColor;
$navbarLinkColorHover: $linkColorHover;
$navbarLinkColorActive: $linkColorHover;
$navbarLinkSpace: 0;
$navbarLinkBackgroundColor: transparent;
$navbarLinkBackgroundColorHover: $navbarLinkBackgroundColor;
$navbarLinkBackgroundColorActive: $navbarLinkBackgroundColor; 
$navbarLinkCorner: none;  
$navbarButtonBackgroundHighlight: black; 
$navbarButtonBackground: black; 
$navbarButtonIconBarColor: #ccc;
$navbarResponsiveLinkBorder: #1e1e1e;
$navbarDropdownBackground: $navbarBackground;
$navbarDropdownLinkColor: $navbarLinkColor;
$navbarDropdownLinkColorHover: $navbarLinkColorHover;
$navbarDropdownLinkColorActive: $navbarLinkColorActive; 

// Footer links
$footerLinkColor: $linkColor;
$footerLinkColorHover: $linkColorHover;
$footerLinkColorActive: $linkColorActive;
$footerResponsiveLinkBorder: #1e1e1e; 

// Copyright links
$copyrightLinkColor: $linkColor;
$copyrightLinkColorHover: $linkColorHover;
$copyrightLinkColorActive: $linkColorActive;
$copyrightLogoColor: white;
 
// Form
$inputTextColor: $textColor;
$inputBackgroundColor: $bodyBackgroundColor;
$inputBorderColor: $textColor;
$inputFocusBorderColor: rgba(82, 168, 236, 0.8); 
$inputBorderRadius: 3px; 

// Grid
$blockGridImageBorder: none;
$blockGridImageBackgroundColor: transparent; 
$blockGridBackgroundColor: transparent; 
$blockGridImageCorner: none;
$blockGridImageShadow: none;



// Icon
$pdfIcon: 'gko/icon_pdf_grey_light_x110.png';

@import "gko_public_all"; 
@import "gko/elastislide"; 

/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */
.uppercase_font_style {
	letter-spacing: 1px; 
	text-transform: uppercase; 
}
/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */

/*-----------------------------------------
 STRUCTURAL LAYOUT 
----------------------------------------- */
body {
	background: $bodyBackgroundColor image-url("bg.jpg") 50% 0px no-repeat;
}
h1.page-title {
	font-size: 21px;
	text-align: center;
	@extend .uppercase_font_style;
	margin-bottom: $baseLineHeight;
}
div.html_text { 
	font-size: $baseFontSize + 2;
	line-height: $baseLineHeight + 2;
	p, ul {
		font-size: $baseFontSize + 2;
		line-height: $baseLineHeight + 2;
	}
}
div.html_text_properties {
	h3:first-child {
		margin-top:0px;
	}
	p, ul {
	font-family: $altFontFamily; 
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
}
}
/*-----------------------------------------
   HEADER
----------------------------------------- */
.navbar {

}
.navbar .brand {
	@include logo(252px, 100px);
	float: none;
	margin: 0 auto !important;
}

.navbar-inner {
	border-top: 8px solid black;
	height:210px; 
	background: transparent asset-url("nav_bg.png", image) 50% -150px no-repeat;
	font-size: 13px; 
}
.navbar .header-top .nav {
	font-style: italic;
	background: black;
	font-weight: normal;
	@include corner-bottom(4px);
	padding: 0 4px 4px 4px;
}
.header-nav nav {
  @include center-nav;
	.nav > li {
		@extend .uppercase_font_style;
		font-weight: normal; 
		.text { 
			padding-left: 8px;
		}
		.icon {
			display: inline-block;
			width:8px;
			height: 8px;
			background: transparent asset-url("nav-dot.png", image) 0 0 no-repeat;
		} 
		&:first-child { 
			background: none;
			padding-left: 0;
			.text {
				padding-left: 0; 
			}
			.icon {
				display: none;
			} 
		}
	} 
}
.nav-collapse {
 margin-top:10px;
}

/*-----------------------------------------
   FOOTER
----------------------------------------- */ 
#footer {
	border-top: 1px solid #1e1e1e;
	font-family: $altFontFamily;
	//font-size: 12px;
	p { 
		font-family: $altFontFamily;
	//	font-size: 12px;  
	}
	h3 {
		@extend .uppercase_font_style;
	 // font-size: 13px;
		margin-bottom: $baseLineHeight * .5;
		color: $altColor;
	}
	.nav {
		@include vertical-nav;
	}
}

/*-----------------------------------------
   GAMES
----------------------------------------- */

ul.block-grid.block-grid-games {
	> li { 
		min-height:320px;
		text-align: center; 
	}
	
	.entry-thumb {
		width: 220px;
		height: 220px;
		overflow: hidden; 
		margin: 0 auto;
		background: transparent;
		line-height: 216px; 
     a {
			width: 200px;
			height: 200px; 
			display:block;
			border: 8px solid #fff; 
			background-position: 50% 50%;
			@include border-radius(104px);
			opacity: 1;
			@include transition(opacity 200ms ease-in-out);
			&:hover {
				opacity: .8;
			}; 
		}
	}
	.entry-infos {
		margin-top: 16px;
	}
	h2 {
		@extend .uppercase_font_style; 
		font-size: $baseFontSize;
	}
} 


#main.game { 
	.next-previous {
		display:none;
	} 
}

/*-----------------------------------------
   SLIDESHOW
----------------------------------------- */

.carousel-control {
	background: black asset_url("nav_image.png", image) no-repeat 0 50%;
	@include circle(30px);
	opacity: .7;
	text-indent: -9999px;
	border: none;
	left: 12px; 
	&:hover {
		opacity: 1;
	};
	&.right {
		background-position:-36px 50%;
		right: 12px;
	} 
}
/*-----------------------------------------
   HOME
----------------------------------------- */
#js_container {
	display:none;
} 
/* Text inside of circle */
.ec-circle h3{
	font-weight: normal;  
	font-style: italic;
	color: transparent;
	margin-top:80px;
	font-size:24px;
	
	text-shadow: 0px 0px 100px #fff;
	@include transition(text-shadow 600ms ease-in-out);
	word-wrap: break-word;
}
.ec-circle-hover h3{
	text-shadow: 0px 0px 1px #fff;
}
/* The circle */
.ec-circle{
	float:left;
	margin-left:20px;
	width: 420px;
	height: 420px;
	@include border-radius(110px);
	margin-top:100px;
	width: 220px;
	height: 220px;
	text-align: center;
	overflow: hidden;
	line-height: 420px; 
	background-color:#fa6e00;
  @include box-shadow(inset 0 0 1px 210px rgba(0,0,0,0.4),inset 0 0 0 7px #fff); 
  @include transition(box-shadow 600ms ease-in-out);
	display: block;
	outline: none;
 text-decoration: none;
	&:hover {
		 text-decoration: none; 
		}
	@media only screen and (max-width: 960px) {
		margin: 24px auto !important;
		clear:both;
		float: none !important;
	} 
	&.ec-circle-one {
		width: 420px;
		height: 420px;
		margin-top:0px;
		@include border-radius(210px);
		h3 {
			font-size: 48px;
			margin-top:150px;
		}
		@media only screen and (max-width: 960px) {
			margin-top:100px;
			width: 220px;
			height: 220px;
			margin: 24px auto !important;
			clear:both;
			float: none !important;
			@include border-radius(110px);
			h3 {
				margin-top:80px;
				font-size:24px;
			}
		}
	}
	
}
.ec-circle-hover{
	@include box-shadow(inset 0 0 1px 210px rgba(250,110,0,0.9), inset 0 0 0 20px rgba(250,110,0,1), inset 0 0 0 0 rgba(243,213,0,0.5));
}
 

/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "gko/responsive";
@media(max-width: 980px) {
	.navbar-inner {
		background-color: black; 
	}
	.header-nav nav .nav > li { 
		.text {
			padding-left: 0px;
		}
		.icon {
			display: none;
		} 
	}
}